.env
__pycache__/
*.py[cod]
*.sqlite3
/media/
/staticfiles/
.env.local
.env.*.local
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
egg-info/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.pytest_cache/
